/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-btn {
    cursor: pointer;
    display: none;

    border: 2px solid red;
    width: 200px ;
  }
  
  .menu-btn-burger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .menu-btn.open .menu-btn-burger:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-btn.open .menu-btn-burger:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn.open .menu-btn-burger:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .menu-btn {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      text-align: center;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  